Repository GraphicEditStudio/LD53, pull requests merged in 2023-05, with the labels that each got.

#61 Dog Anim Control
  LD53/Assets/Animation/BossDog/BossDog.controller
  LD53/Assets/Animation/BossDog/BossDog_Dead.anim
  LD53/Assets/Code/EnemyDog/EnemyPatrolling.cs
  LD53/Assets/Prefabs/Environment.prefab.meta
  LD53/Assets/Prefabs/PatrollingEnemyDog.prefab
  LD53/Assets/Scenes/Main_Scene.unity
Labels: animation

#76 Turtell and BG fixess
  LD53/Assets/Animation/BossDog/BossDog fixed.controller
  LD53/Assets/Animation/BossRat/BossRat.controller
  LD53/Assets/Animation/BossTurtle.meta
  LD53/Assets/Animation/BossTurtle/BossTurtle.controller
  LD53/Assets/Animation/BossTurtle/BossTurtle.controller.meta
  LD53/Assets/Animation/BossTurtle/BossTurtle_Attack.anim
  LD53/Assets/Animation/BossTurtle/BossTurtle_Attack.anim.meta
  LD53/Assets/Animation/BossTurtle/BossTurtle_Dead.anim
  LD53/Assets/Animation/BossTurtle/BossTurtle_Dead.anim.meta
  LD53/Assets/Animation/BossTurtle/BossTurtle_Idle.anim
  LD53/Assets/Animation/BossTurtle/BossTurtle_Idle.anim.meta
  LD53/Assets/Animation/BossTurtle/BossTurtle_Walk.anim
  LD53/Assets/Animation/BossTurtle/BossTurtle_Walk.anim.meta
  LD53/Assets/Art/BossTurtle.psb
  LD53/Assets/Art/BossTurtle.psb.meta
  LD53/Assets/Art/BossTurtle_backup.psb
  LD53/Assets/Art/BossTurtle_backup.psb.meta
  LD53/Assets/Art/Envo/EnvironmentCity2B.psb.meta
  LD53/Assets/Prefabs/Backups.meta
  LD53/Assets/Prefabs/Backups/BossDog_backup.prefab
  LD53/Assets/Prefabs/Backups/BossDog_backup.prefab.meta
  LD53/Assets/Prefabs/Backups/BossRat_backup.prefab
  LD53/Assets/Prefabs/Backups/BossRat_backup.prefab.meta
  LD53/Assets/Prefabs/Backups/BossTurtle_backup.prefab
  LD53/Assets/Prefabs/Backups/BossTurtle_backup.prefab.meta
  LD53/Assets/Prefabs/BossTurtle.prefab
  LD53/Assets/Prefabs/BossTurtle.prefab.meta
  LD53/Assets/Prefabs/EnvironmentAll.prefab
  LD53/Assets/Prefabs/PatrollingEnemyTURTLE.prefab
  LD53/Assets/Scenes/Credits_Scene/CreditANIM-Cont.controller
  LD53/Assets/Scenes/Main_Scene.unity
Labels: design

#72 Change: Health Bar
  LD53/Assets/Art/HealthBar_Sample/HealthBar_Sample.psb
  LD53/Assets/Art/HealthBar_Sample/HealthBar_Sample.psb.meta
  LD53/Assets/Prefabs/HealthBarOnPlayer.prefab
  LD53/Assets/Prefabs/HealthBarOnScreen.prefab
Labels: art, design
